<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="/css/style.css">
 <title>Single Post</title>
</head>
<body>
 <h1 class = page_title>Single post page</h1>
 <nav class = "nav">
    <a href="/">Home </a> |
    <a href="/posts">Posts page</a> |
    <a href="/contactus">Contact us</a>|
    <a href="/create">New post</a>
</nav>

 <div class="singlepost">
    <h2>
    <%= posts.title %>
    </h2>
    <div>
      <img src=<%= posts.urllink %> alt="lel">
      <p>
      <%= posts.body %>
      </p>
    </div>
    <a class="delete" data-del="<%= posts.id %>">Delete</a>
 </div>
 
 <script>
    const delreq = document.querySelector('a.delete');
    delreq.addEventListener('click', (e) => {
    const endpoint = `/posts/${delreq.dataset.del}`;
    fetch(endpoint, {
    method: 'DELETE',
    }).then(window.location.href = '/posts')
    });
 </script>

<footer class="footer">
    <p>© WAD 2021 </p>
</footer>
</body>
</html>

<style scoped>
   .singlepost {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 75%;
      background-color: orange;
   }

   .singlepost h2 {
      text-align: center;
      text-align: left;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 30px;
      width: 90%;
      font-size: 3ch;
      font-size: 5ch;
   }

   .singlepost div img {
      display: block;
      margin :auto;
      width: 90%;
   }

   .singlepost div p {
      text-align: left;
      margin: auto;
      margin-top: 30px;
      width: 90%;
      font-size: 3ch;
   }


   </style>